<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menü</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list>
        <ion-menu-toggle *ngFor="let eintrag of menueEintraegeArray" auto-hide="true">
          <ion-item [routerLink]="eintrag.ziel" routerDirection="forward">{{eintrag.titel}}</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"><!-- Wert von Attribut "id" muss wie von "contentID" von ion-menu sein -->
  </ion-router-outlet>
  
</ion-app>