#hex-code-title {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #farb-anzeige-toolbar {
    margin-top: 3%;
    margin-bottom: 2%;
    border: 1px dotted;
  }