<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grid 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row><!-- Zeile 1 -->
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Karte 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Diese Karte hat die ganze Zeile 1 mit 12 Spalten für sich alleine.
          </ion-card-content>
        </ion-card>          
      </ion-col>
    </ion-row>

    <ion-row><!-- Zeile 2 -->
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Karte 2a</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Die zweite Karte, die nur die Hälfte der zweiten Zeile belegt.
          </ion-card-content>
        </ion-card>          
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Karte 2b</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Die zweite Karte, die die andere  Hälfte der zweiten Zeile belegt.
          </ion-card-content>
        </ion-card>          
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
