<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RGB-Farbwahl binär</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>Rot</ion-label>
      <ion-toggle slot="start" color="danger" name="rot" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Grün</ion-label>
      <ion-toggle slot="start" color="success"name="gruen" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Blau</ion-label>
      <ion-toggle slot="start" color="primary" name="blau" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Volle Deckkraft</ion-label>
      <ion-toggle slot="start" color="medium" name="deckend" checked></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>
