<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Karten-Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <ion-img src="./assets/bilder/schloss-karlsruhe.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Karte mit Bild</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Das Bild zeigt das Schloss Karlsruhe 
      (Quelle: pixabay.com, Bild 3257297 von User "maxmann").
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Karte ohne Bild</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Eine Karte muss nicht unbedingt ein Bild enthalten.
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Noch eine Karte</ion-card-subtitle>
      <ion-card-title>Karte mit Untertitel</ion-card-title>      
    </ion-card-header>
    <ion-card-content>
      Diese Karte hat auch kein Bild, dafür aber einen Untertitel. 
      Trotz seines Namens sollte der Untertitel oberhalb vom Haupttitel angezeigt werden.
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Karte mit zwei Absätzen Text</ion-card-title>      
    </ion-card-header>
    <ion-card-content>
      <p>Diese Karte hat auch kein Bild; auch einen Untertitel sucht man vergebens.</p>
      &nbsp;
      <p>Dafür ist der Text auf zwei Absätze aufgeteilt, und zwischen den beiden Sätzen
         ist noch eine Leerzeile.</p>      
    </ion-card-content>
  </ion-card>  


</ion-content>
